.caption p{
	text-align: center;
	font-style: italic;
	font-family: cursive;
	font-weight: bolder;
	font-size: 23.5px;
	background-color: silver;
	color: slategray;
	
}
.content{
	border-left: 1px solid black;
	padding-left: 60px;
	margin-left: 60px;
}
.content label,p{
	font-family: serif;
	font-weight: bold;
	font-size: 20px;
	
}
.content input[type=text]{
	border:none;
	border-bottom: 2px solid red;
	padding-left: 5px;
}
.content input[type=password]{
	border:none;
	border-bottom: 2px solid red;
	padding-left: 5px;
}
.content input[type=email]{
	border:none;
	border-bottom: 2px solid red;
	padding-left: 5px;
}
.content label,input{
	text-align: justify;
	padding-right: 10px;
}
input[type=button],input[type=submit],input[type=reset]{
	cursor: pointer;
	background-color: royalblue;
	border: 5px dashed red;
	color: whitesmoke;
	border-radius: 40;
	padding: 5px 5px;
	display: inline-block;
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 16px;
	font-family: cursive;
	font-weight: bold;
}